<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Welcome</title>
  <style type="text/css">
    .header {
      background-color: #268dae;
      color: white;
      text-align: center;
    }

    .check {
      margin-left: 18.0pt;
      text-align: justify
    }

    .caution {
      color: red;
    }
  </style>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="../js/jquery.cookie.js" charset="utf-8"></script>
  <link href="/public/stylesheets/umap18/welcome.css" rel="stylesheet">
  <script type="text/javascript" src="../js/global.js" charset="utf-8"></script>
  <script type="text/javascript" src="../js/welcome.js" charset="utf-8"></script>
</head>

<body>
  <p><img src="https://www.kuleuven.be/internationaal/thinktank/TT/fotos-en-logos/ku-leuven-logo.png" height="50"></p>
  <h1 class="header">Welcome</h1>
  <p>You are being invited to take part in a research study. Before you decide whether to participate, it is important for you to understand why the research is being done and what it will involve. Please take time to read the following information carefully.
    Ask questions if anything is not clear or if you would like more information. Take time to decide whether or not you wish to take part. Thank you for your time. Please note that the system is only tested on Google Chrome.</p>
  <h2>About the study:</h2>
  <p><em></em>In this study, you will evaluate two visual techniques designed to control music recommendation in Spotify. In the next step, you will be asked to login to the experiment with your Spotify account. After you have logged in, you will be asked
    to complete a demographic questionnaire. You will then be presented with a recommender interface where you will select up to 5 of your favourite artists and modify 5 music attributes (energy, valence, acousticness, instrumentalness and danceability)
    according to a task that will be presented to you. Once you have completed the task, you will be presented with a questionnaire to evaluate the interface. Next, you will evaluate a second recommender interface with a different task, the steps of which
    are the same as the first evaluation. After you have completed the second evaluation questionnaire, you will finally be asked to provide suggestions about your ideal visual techniques for controlling music recommendation.</p>
  <h2>Procedure:</h2>
  <p>This experiment will take 10 to 15 minutes, it includes the following 6 procedures:
    <ul>
      <li>Demographic questionnaire</li>
      <li>First interface with a task</li>
      <li>Post-task questionnaire</li>
      <li>Second interface with a task</li>
      <li>Post-task questionnaire</li>
      <li>Post-evaluation questions</li>
    </ul>
  </p>
  <p class="caution">Please note that you need to be a frequent user of Spotify, otherwise the system cannot generate recommendations for you.</p>
  <div class="check">
    <p><input id="myCheck1" required="{{''}}" name="check1" type="checkbox">I understand what is expected of me during this research.<span style="color: #ff2600;">*</span></p>
    <p><input id="myCheck2" required="{{''}}" name="check2" type="checkbox">I understand that my participation in this study is voluntary. I have the right to stop my participation at any time. I do not have to give a reason for that and I know that no disadvantage
      can arise for me.<span style="color: #ff2600;">*</span></p>
    <p><input id="myCheck3" required="{{''}}" name="check3" type="checkbox">I understand that the results of this research can be used for scientific purposes and may be published. My name is not published, anonymity and the confidentiality of the data is
      guaranteed at every stage of the research.
      <span style="color: #ff2600;">*</span></p>
    <p><input id="myCheck4" name="check4" type="checkbox">I would like to be kept informed of the results of this research. The researcher may contact me for this at the following e-mail address:<input id="myEmailArea" type="email"></p>
    <p><input id="myCheck5" required="{{''}}" name="check5" type="checkbox">For questions, I know that after my participation I can contact the researchers: ir. Martijn Millecamp (martijn.millecamp@kuleuven.be) and Dr. Nyi Nyi Htun (nyinyi.htun@kuleuven.be)
      <span
        style="color: #ff2600;"></span>.<span style="color: #ff2600;">*</span></p>
    <p><input id="myCheck6" required="{{''}}" name="check6" type="checkbox">For any complaints or other concerns regarding ethical aspects of this study, I can contact the Social-Ethical Committee of KU Leuven: smec@kuleuven.be.<span style="color: #ff2600;">*</span></p>
    <label
      id="myErrorLabel" class="caution">* required.</label><br><button id="firstInterface" class="ripple btn">Continue</button></div>
</body>

</html>