<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

<script id="people-template" type="text/x-handlebars-template">
    {{#each people}}
        {{> person}}
    {{/each}}
</script>

<script id="person-partial" type="text/x-handlebars-template">
    <div class="person">
        <h2>{{name}}</h2>
        <!--<div class="phone">{{phone}}</div>-->
        <!--<div class="email"><a href="mailto:{{email}}">{{email}}</a></div>-->
        <!--<div class="since">User since {{member_since}}</div>-->
    </div>
</script>

<script type="text/javascript">
    $(document).ready(function() {
        var template = hbs.compile($("#people-template").html());
        hbs.registerPartial("person", $("#person-partial").html());
        var people = [{name: 'a'},{name: 'a'},{name: 'a'}];
        template(people);
    })
</script>
</body>
</html>