<!--run handlebars -m views/partials/Components/ -f  public/js/templates.js-->
<div class="artistDiv" id={{id}}>
    <!--<div class="checkbox" id='checkbox_{{id}}'  >-->
        <!--<div class="checkSlider" id='checkSlider_{{id}}'></div>-->
    <!--</div>-->
    <i class="fas fa-thumbtack" id={{id}}_thumbtack></i>
    <div class="artistName"> {{name}} </div>
    <i class="far fa-times-circle" id={{id}}_delete></i>
    <div class="artistColor" id={{id}}_artistColor></div>
</div>
