<!--run handlebars -m views/partials/Components/ -f  public/js/templates.js-->
<div class="artistDiv" id={{id}} name="{{name}}" title="{{name}}">
    <div class="artistName"> {{name}} </div>
    <i class="far fa-times-circle" id={{id}}_delete></i>
</div>
