<!--run handlebars -m views/partials/Components/ -f  public/js/templates.js-->
<div class="artistDiv" id={{id}} name="{{title}}" title="{{name}}">
    <div class="artistImage">
        <img src="{{imageSrc}}" alt="{{title}}" style="width:150px; height: 150px">
    </div>
    <div class="artistAdditional">
        <div class="artistAdditionalHeader">
            <div class="artistName">{{name}}</div>
            <i class="far fa-times-circle" id={{id}}_delete></i>
        </div>
        <div class="artistAttributes">
            <div class="attributeTitle">
                The artists' attributes
            </div>
            <svg id="attributes_{{id}}"></svg>
        </div>
    </div>


</div>
