<!--run handlebars -m views/partials/Components/ -f  public/js/templates.js-->
<div id='{{name}}' class="slidecontainer">
    <div class="sliderInfo">
        <label for='{{name}}_output'>{{name}}:</label>
        <input type="text" id='{{name}}_output' class="sliderOutput" value=" 0-100">
        <i id ='tooltip_{{name}}' data-toggle="tooltip" title="{{definition}}" class="fas fa-question-circle"></i>
    </div>
    <div id="{{name}}_slider_div" background={{color}}></div>

</div>