<!--run handlebars -m views/partials/Components/ -f  public/js/templates.js-->
<div class="recommendation" id={{trackId}}>
    <div class="permanent" id="permanent_{{trackId}}" >
        <div class="buttons" id="buttons_{{trackId}}">
            <button class="thumbUp fa fa-thumbs-o-up" id="thumbUp_" {{trackId}} style= "color:{{getArtistColorHelper
                    similarArtist}}; font-size: 35px"></button>
            <button class='playButton fa fa-play-circle'  id=trackButton_{{trackId}} style= "color:{{getArtistColorHelper
                    similarArtist}}; font-size: 35px"></button>
            <audio id=trackAudio_{{trackId}}>
                <source src={{preview}}>
            </audio>
            <button class="thumbDown fa fa-thumbs-o-down" id="thumbDown_" {{trackId}} style= "color:{{getArtistColorHelper
                    similarArtist}}; font-size: 35px"></button>
        </div>



        <a href={{url}} target="_blank" class="titleLink" id="songLink_{{trackId}}">{{title}} - {{artist}}</a>


    </div>
    <div class="popUp hidden" id="popUp_{{trackId}}" >
        <div class="progress" id="acousticnessProgress">
            <div class="progressBar">
                <div class="bar" id="acousticnessBar" style="width: {{acousticness}}%"></div>
            </div>
            <div>
                <p class="progressTitle">Acousticness: {{acousticness}} %</p>
            </div>
        </div>

        <div class="progress" id="danceabilityProgress">
            <div class="progressBar">
                <div class="bar" id="danceabilityBar" style="width: {{danceability}}%"></div>
            </div>
            <div>
                <p class="progressTitle">Danceability: {{danceability}} %</p>
            </div>
        </div>



        <div class="progress" id="energyProgress">
            <div class="progressBar">
                <div class="bar" id="energyBar" style="width: {{energy}}%"></div>
            </div>
            <div>
                <p class="progressTitle">Energy: {{energy}} %</p>
            </div>
        </div>

        <div class="progress" id="instrumentalnessProgress">
            <div class="progressBar">
                <div class="bar" id="instrumentalnessBar" style="width: {{instrumentalness}}%"></div>
            </div>
            <div>
                <p class="progressTitle">Instrumentalness: {{instrumentalness}} %</p>
            </div>
        </div>

        <div class="progress" id="tempoProgress">
            <div class="progressBar">
                <div class="bar" id="tempoBar" style="width: {{tempo}}%"></div>
            </div>
            <div>
                <p class="progressTitle">Tempo: {{tempo}} %</p>
            </div>
        </div>

        <div class="progress" id="valenceProgress">
            <div class="progressBar">
                <div class="bar" id="valenceBar" style="width: {{valence}}%"></div>
            </div>
            <div>
                <p class="progressTitle">Valence: {{valence}} %</p>
            </div>
        </div>


    </div>


</div>

