<!--run handlebars -m views/partials/Components/ -f  public/js/templates.js-->
<div class="recommendation" id={{trackId}}>
    <div class="permanent" id="permanent_{{trackId}}" >
        <div class="buttons" id="buttons_{{trackId}}">
            <button class="thumbUp fa fa-thumbs-o-up" id="thumbUp_{{trackId}}" style="font-size: 35px"></button>
            <button class='playButton fa fa-play-circle'  id=trackButton_{{trackId}} style="font-size: 35px"></button>
            <audio id=trackAudio_{{trackId}}>
                <source src={{preview}}>
            </audio>
            <button class="thumbDown fa fa-thumbs-o-down" id="thumbDown_{{trackId}}"  style="font-size: 35px"></button>
        </div>
        <div class="titleLinkDiv">
            <a href={{url}} target="_blank" title="{{title}} from {{artist}}"   class="titleLink"
               id="songLink_{{trackId}}">{{title}}</a>
            <p class="artistNameRecommendation"><i>{{artist}}</i></p>
        </div>

        <div class="miniHistogram">
            <svg id="miniHistogramSvg_{{trackId}}", width="60" height="60"></svg>
        </div>
    </div>
    <div class="popUp hidden" id="popUp_{{trackId}}" >
        
        <div class="barCharts">
            <div id="tooltipBarDiv_{{trackId}}" class="tooltipBar"></div>
            <svg id="popUpSvg_{{trackId}}">
                <pattern id="diagonalHatch" patternUnits="userSpaceOnUse" width="4" height="4">
                    <path d="M-1,1 l2,-2
                            M0,4 l4,-4
                            M3,5 l2,-2"
                          style="stroke-width:1" ></path>
                </pattern>
            </svg>
            <button class="showScatterplot">Show comparison</button>
        </div>

    </div>


</div>

