<!--run handlebars -m views/partials/Components/ -f  public/js/templates.js-->
<div class="recommendation" id={{trackId}} style="background-color:{{getBackground trackId}}">
    <div class="upperRowRec">
        <div class="recImage">
            <img src="{{image}}" alt="{{name}}" style="width:100px; height: 100px">
        </div>

        <div class="recAttributes" id="attributes_{{trackId}}">
            <svg id="rec_{{trackId}}" style="width:300px; height: 100px"></svg>
        </div>

    </div>
    <div class="lowerRowRec">
        <div class="recTitle">
            {{title}}
        </div>
        <div class="recBy">
            by
        </div>
        <div class="recArtist">
            {{artist}}
        </div>

    </div>

</div>

