<!--run handlebars -m views/partials/Components/ -f  public/js/templates.js-->
<div id="attributeSliderContainer_{{name}}" class="attributeSliderContainer">
    <h1 class="attributeName">{{name}}</h1>
    <span class="definition">{{definition}}</span>
    <div id="sliderContainer_{{name}}"   class="sliderContainer"></div>


    <div id="songDiv_{{name}}" class="exampleSongsSlider">
        <div id="low_{{name}}_container">
            <h3>Low</h3>
            <div id="low_{{name}}"></div>
        </div>

        <div id="medium_{{name}}_container">
            <h3>Medium</h3>
            <div id="medium_{{name}}"></div>
        </div>

        <div id="high_{{name}}_container">
            <h3>High</h3>
            <div id="high_{{name}}"></div>
        </div>
    </div>

</div>